<launch>
  <!-- SR300 -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <!--arg name="color_fps" value="10"/-->
    <!--arg name="depth_fps" value="10"/-->
  </include>
  <!-- Apriltag -->
  <include file="$(find apriltags2_ros)/launch/sis_competition.launch"/>
  <!-- Calculate distance node -->
  <!-- Assignment -->
  <node pkg="camera_rotation" type="get_transform.py" name="get_transform" output="screen" required="true" />
  <node pkg="tf" type="static_transform_publisher" name="plate1_to_tag1" args="0.125 0 -0.6 0 0 0 1 tag_1 plate_1 100" />
  <node pkg="tf" type="static_transform_publisher" name="plate2_to_tag2" args="0.125 0 -0.6 0 0 0 1 tag_2 plate_2 100" />
  <node pkg="tf" type="static_transform_publisher" name="plate3_to_tag3" args="0.125 0 -0.6 0 0 0 1 tag_3 plate_3 100" />

</launch>
