<?xml version="1.0" ?>
<launch>
    <!-- Launch this file at back car -->
    <arg name="config_file" default="tag_ids.yaml" />

    <rosparam command="load" file="$(find veh_follow_uwb)/config/$(arg config_file)" />

    <node ns="front" name="front_tag" pkg="pozyx_ros" type="multi_ranging.py" output="screen">
        <rosparam param="id_param_name">"/back_car/front_id"</rosparam>
        <rosparam param="dest_ids_name">
            - "/front_car/left_id"
            - "/front_car/right_id"
        </rosparam>
        <rosparam param="ranging_freq">2</rosparam>
    </node>

    
    <node ns="back" name="back_tag" pkg="pozyx_ros" type="multi_ranging.py" output="screen">
        <rosparam param="id_param_name">"/back_car/back_id"</rosparam>
        <rosparam param="dest_ids_name">
            - "/front_car/left_id"
            - "/front_car/right_id"
        </rosparam>
        <rosparam param="ranging_freq">2</rosparam>
    </node>
    

</launch>
