<?xml version="1.0" ?>
<launch>
    <!-- Launch this file at back car -->
    <arg name="round" doc="please specify round" />
    <arg name="veh" doc="please specify veh"/>
    <arg name="anchor_id" doc="please specify anchor_id"/>
    
    <node ns="$(arg veh)" name="ranges_save_csv_node" pkg="pozyx_ros" type="ranges_save_csv.py" output="screen">
        <param name="veh" value="$(arg veh)" />
        <param name="round" value="$(arg round)" />
        <param name="anchor_id" value="$(arg anchor_id)" />
    </node>


</launch>